*~
*.bbl
mrm_template.aux
mrm_template.blg
mrm_template.log
mrm_template.out
mrm_template.pdf
mrm_template.synctex.gz
*.h5
timing.dat
*.out
*.error
paper.aux
paper.log
paper.pdf
paper.synctex.gz
tmp
results