*~
*.bbl
mrm_template.aux
mrm_template.blg
mrm_template.log
mrm_template.out
mrm_template.pdf
mrm_template.synctex.gz
*.h5
timing.dat
*.out
*.error
tmp
*.T7
paper/paper.aux
paper/paper.log
paper/paper.pdf
paper/paper.synctex.gz
